<div class="page-container d-conditional" ng-change-state>

  <!-- Scrollable container -->
  <div class="scrollable-container">

    <!-- Main -->
    <main id="top-page" class="position-absolute w-100">

      <!-- Container -->
      <div class="container">

        <!-- Row -->
        <div class="row text-center mt-4">

          <!-- Grid -->
          <div class="col-11 col-md-10 col-xl-8 mx-auto">
          
            <!-- Title -->
            <h6 class="fst-italic text-uppercase display-6">
              Bérelje ki álmai autóját!
            </h6>

            <!-- Content -->
            <p class="text-muted fs-5 fst-italic px-4 mt-3">          	
              Amit mindig is ki akart próbálni! Élményvezetés szupersportautókkal. Ne csak álmodozzon róla, vezesse is! Itt az idő, hogy megtapasztalja egy sportautó vezetésének izgalmát. Autókínálatunkban, biztosan megtalálja az Ön álmai autóját! 
            </p>
          </div>
        </div>

        <!-- Carousel image -->
        <div class="row mt-3" ng-include src="'./html/carousel.html'"></div>

        <!-- Row -->
        <section class="mt-5 text-center text-muted">

          <!-- Title -->
          <h3 class="fst-italic text-uppercase display-6">
            Béreljen egyszerűen gépjárművet!
          </h3>

          <!-- Content -->
          <div class="row mt-5">
            <hr>
            <h4 class="">A bérlés folyamata:</h4>
          </div>

          <!-- Rental process -->
          <ul class="row list-unstyled text-center mt-4">

            <li class="col-12 col-lg-6 mb-2">
              <div class="row">
                <div class="col-6">
                  <div class="position-relative mt-2">
                    <img class="img-fluid" src="./image/rent/1.svg" alt="img">
                    <span class="position-absolute top-0 start-0 badge rounded-circle bg-primary fs-2">
                      <span>1</span>
                    </span>
                  </div>
                </div>
                <div class="col-6 text-muted text-start">  
                  <h4>Bérautó lefoglalása</h4>
                  <p>
                    Foglalja le az Önnek legmegfelelőbb gépjárművet a kívánt    extrákkal,   a   felvételi dátum és annak pontos idejének   megadásával! A   foglalását a  fizetéssel véglegesítheti, amely    banki átutalással ill.   bankkártyával  is történhet.
                  </p>
                </div>
              </div>
            </li>

            <li class="col-12 col-lg-6 mb-2">
              <div class="row">
                <div class="col-6">
                  <div class="position-relative mt-2">
                    <img class="img-fluid" src="./image/rent/2.svg" alt="img">
                    <span class="position-absolute top-0 start-0 badge rounded-circle bg-primary fs-2">
                      <span>2</span>
                    </span>
                  </div>
                </div>
                <div class="col-6 text-muted text-start">  
                  <h4>Bérautó átvétele</h4>
                  <p>
                    Az Ön által megadott időpontban érkezzen telephelyünkre, hozza  magával személyi igazolványát és jogosítványát. Rövid és egyszerű  adminisztráció után, valamint az autó átadása után, már útnak is   indulhat a bérautóval.
                  </p>
                </div>
              </div>
            </li>

            <li class="col-12 col-lg-6 mb-2">
              <div class="row">
                <div class="col-6">
                  <div class="position-relative mt-2">
                    <img class="img-fluid" src="./image/rent/3.svg" alt="img">
                    <span class="position-absolute top-0 start-0 badge rounded-circle bg-primary fs-2">
                      <span>3</span>
                    </span>
                  </div>
                </div>
                <div class="col-6 text-muted text-start">  
                  <h4>Bérautó használata</h4>
                  <p>
                    A megfelelően kiválasztott extra szolgáltatásokkal valamint   non-stop nemzetközi közúti segély szolgálatunkkal gondtalanul   élvezheti a vezetés minden pillanatát.
                  </p>
                </div>
              </div>
            </li>

            <li class="col-12 col-lg-6 mb-2">
              <div class="row">
                <div class="col-6">
                  <div class="position-relative mt-2">
                    <img class="img-fluid" src="./image/rent/4.svg" alt="img">
                    <span class="position-absolute top-0 start-0 badge rounded-circle bg-primary fs-2">
                      <span>4</span>
                    </span>
                  </div>
                </div>
                <div class="col-6 text-muted text-start">  
                  <h4>Bérautó leadása</h4>
                  <p>
                    A megadott leadási időpontban érkezzen telephelyünkre, ahol   kollégáink rövid adminisztráció és a gépjármű ellenőrzése után  átveszik Öntől az autót. Reméljük elégedett volt a   szolgáltaásunkkal és várjuk vissza!
                  </p>
                </div>
              </div>
            </li>
          </ul>

          <!-- Comment -->
          <div class="row">
            <p class="col-11 col-sm-10 mx-auto">
              Amennyiben kérdése lenne, forduljon bizalommal hozzánk, munkatársaink   késséggel segítenek Önnek!
            </p>
            <hr>
          </div>
        </section>
      </div>

      <!-- Footer -->
      <footer ng-include src="'./html/footer.html'"></footer>
    </main>
  </div>

  <!-- Header -->
  <header class="w-100 position-fixed" ng-include src="'./html/navigate.html'"></header>

</div>