<!-- Fieldset -->
<fieldset>
  <!-- Title -->
  <legend class="w-100 text-center my-3">
    <h4>
      <span><i class="fas fa-car"></i></span>
      <span>Autó bérlése</span>
    </h4>
  </legend>

  <!-- Login form -->
  <form class="w-50 d-inline-block mt-3" action="#">
    <!-- Rent car -->
    <div class="input-group input-row mb-3">
      <!-- Label -->
      <div class="col-12 col-xl-6 text-start text-xl-end px-0 px-xl-3">
        <label for="select-car" class="col-form-label">
          <span class="text-danger fw-bold">*</span>
          <span>Autó:</span>
        </label>
      </div>

      <!-- Select car -->
      <select
        id="rent-carID"
        class="form-select w-50"
        ng-model="model.rent.carID"
        ng-change="change('rent')"
        ng-clear-icon
        ng-checkmark
        required
      >
        <option value="" selected hidden>Választás</option>
        <option value="{{car.id}}" ng-repeat="car in cars">{{car.name}}</option>
      </select>
    </div>

    <!-- Rent start -->
    <div class="input-item input-group input-row mb-3">
      <!-- Label -->
      <div class="col-12 col-xl-6 text-start text-xl-end px-0 px-xl-3">
        <label for="rent-start" class="col-form-label">
          <span class="text-danger fw-bold">*</span>
          <span>Tól:</span>
        </label>
      </div>

      <!-- Input rent start -->
      <input
        id="rent-start"
        type="date"
        class="form-control col-12 col-md-6"
        spellcheck="false"
        autocomplete="off"
        ng-trim="false"
        required
        ng-model="model.rent.start"
        ng-change="change('rent')"
        ng-clear-icon
        ng-checkmark
        ng-white-space
      />
    </div>

    <!-- Rent end -->
    <div class="input-item input-group input-row mb-3">
      <!-- Label -->
      <div class="col-12 col-xl-6 text-start text-xl-end px-0 px-xl-3">
        <label for="rent-end" class="col-form-label">
          <span class="text-danger fw-bold">*</span>
          <span>Ig:</span>
        </label>
      </div>

      <!-- Input rent end -->
      <input
        id="rent-end"
        type="date"
        class="form-control col-12 col-md-6"
        spellcheck="false"
        autocomplete="off"
        ng-trim="false"
        required
        ng-model="model.rent.end"
        ng-change="change('rent')"
        ng-clear-icon
        ng-checkmark
        ng-white-space
      />
    </div>

    <!-- Test code -->
    <ng-test-code
      ng-model="model.rent"
      change-fn="change(type)"
      type="rent"
    ></ng-test-code>

    <!-- Buttons -->
    <div class="btn-group mt-4 justify-content-center w-100">
      <!-- Accept button -->
      <button
        id="rent-accept"
        type="button"
        class="btn btn-primary shadow-sm btn-common btnClickEffect mx-1"
        ng-click="accept('rent')"
      >
        Foglalás
      </button>

      <!-- Reset button -->
      <button
        id="rent-reset"
        type="button"
        class="btn btn-secondary shadow-sm btn-common btnClickEffect mx-1"
        ng-click="reset('rent')"
      >
        Mégsem
      </button>
    </div>
  </form>
</fieldset>
