<div ng-include src="'./html/navigate.html'"></div>

<div class="d-flex shoppingCart mx-md-5">
    <div class="w-100">
        <table class="table table-striped w-100">
            <tr ng-repeat="item in cart track by $index" class="text-dark fw-bold">
                <td class="p-0"><img ng-src="./img/{{item.image}}" alt="" class="d-none d-sm-block cartImg"></td>
                <td class="w-100">
                    {{item.Name}}<br>
                    {{item.Price}} Ft
                </td>
                <td>
                    <div class="text-nowrap">
                        <button type="button" class="btn btn-secondary rounded-circle valueBtns" ng-click="decAmount(item.Id)">-</button>
                        <input type="number" min="1" max="10" class="amountInput" ng-model="item.amount" ng-change="updatePrice()" disabled>
                        <button type="button" class="btn btn-secondary rounded-circle valueBtns" ng-click="incAmount(item.Id)">+</button>
                        <button type="button" id="{{item.Id}}" class="btn btn-danger" ng-click="deleteItem($event)">x</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-include src="'./html/footer.html'"></div>
