<div ng-include src="'./html/navigate.html'"></div> 

<div class="mx-md-5 pt-5">
  <div class="banner02-text">
    <h1>Étlap</h1> 
  </div>

  <div ng-controller="menuController">

    <div class="menu-container"> 
      <div class="menu-category" ng-repeat="(categoryDesc, categoryItems) in data | groupBy: 'categorieDesc'">
        <!-- Display menu categories, and group menu items by category -->
        <h2 class="menu-category-title">{{categoryDesc}}</h2> <!-- Display category title -->

        <div class="menu-items">
          <div class="menu-item" ng-repeat="item in categoryItems">
            <!-- Display each menu item -->
            <div class="menu-item-info">
              <h3 class="menu-item-title">{{item.Name}}</h3> <!-- Display menu item name -->
              <p class="menu-item-description">{{item.Description}}</p> <!-- Display menu item description -->
            </div>
            <div class="menu-item-price">{{item.Price}} Ft</div> <!-- Display menu item price -->
          </div>
        </div>
      </div>
    </div>
  </div>

<div ng-include src="'./html/footer.html'"></div>
