<div ng-include src="'./html/navigate.html'"></div>
<h1 class="ms-md-5">Kosár</h1>
<div class="d-flex shoppingCart mx-md-5">
    <div class="m-auto ng-hide" ng-hide="hasItems">
        <i class="fa-solid fa-cart-shopping fa-xl text-dark"></i>
        <span class="text-dark fs-5">A kosár üres, válasszon valamit!</span>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <th>
                    név
                </th>
                <th>
                    ár
                </th>
                <th>
                    mennyiség
                </th>
            </thead>
            <tr ng-repeat="item in cart track by $index" class="text-dark">
                <td>{{item.Name}}</td>
                <td>{{item.Price}} Ft</td>
                <td><input type="text" value="{{item.amount}}"></td>
            </tr>
        </table>
    </div>
</div>

<div class="d-flex mx-md-5">
    <div>
        <span class="price">{{total}} Ft</span>
    </div>
    <div class="ms-auto">
        <button type="button" class="btn btn-warning rounded-0 orderBtn h-100" disabled>Rendelés</button>
    </div>
</div>

<div class="categories mt-5">
<h2 class="text-center">Kategóriák</h2>
<div class="d-flex justify-content-center row w-100 m-auto text-dark fw-bold mb-5">
    <div class="card catCard rounded-2 col-2 m-2" id="{{item.id}}"
         ng-repeat="item in categories track by $index"
         ng-click="orderFilter($event)"
         ng-class="{'catSelected': item.id==filter}"
         >
        <i class="m-auto categoryIcon"
           ng-class="item.icon"></i>
        <span class="text-center categoryText">{{item.name}}</span>
    </div>
</div>
</div>
    <div class="row d-flex justify-content-center w-100 m-0">
        <div class="col-lg-6 d-flex justify-content-center my-2"
                ng-repeat="food in order track by $index"
                ng-if="food.CategorieId==filter">
            <div class="menuItem rounded">
            <div class="card-title text-dark">
                <div class="d-flex pt-3">
                    <h4 class="flex-grow-1 px-2 fs-1">{{food.Name}}</h4>
                    <span class="m-auto px-2 fs-2 fw-bold text-nowrap">{{food.Price}} Ft</span>
                </div>
                <hr class="m-0">
                <div class="fs-3 px-2">{{food.Description}}</div>
            </div>
                <div class="imageContainer h-inherit">
                    <img ng-src="./img/{{food.image}}" class="img-fluid rounded-bottom"/>
                    <button id="{{food.Id}}" type="button" class="btn btn-warning cartBtn hvr-grow" title="Kosárba rakni" ng-click="toCart($event)"><i class="fa-solid fa-plus fa-xl"></i></button>
                </div>
            </div>
        </div>
  </div>

<div ng-include src="'./html/footer.html'"></div>
