<div ng-include src="'./html/navigate.html'"></div>
<!-- Registration form -->
<div class="mx-md-5 pt-5">
  <form class="p-4 bg-light text-dark fw-bold py-5" ng-submit="register()" method="POST">
    <h2 class="mb-4 text-center">Regisztráció</h2>
    <div class="mb-3">
      <label for="firstname" class="form-label">Keresztnév</label>
      <input type="text" class="form-control" id="firstname" name="firstname" ng-model="user.firstname"
        placeholder="Adja meg a keresztnevét" required />
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Vezetéknév</label>
      <input type="text" class="form-control" id="lastname" name="lastname" ng-model="user.lastname"
        placeholder="Adja meg a vezetéknevét" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Jelszó</label>
      <input type="password" class="form-control" id="password" name="password" ng-model="user.password"
        placeholder="Adja meg a jelszót" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email cím</label>
      <input type="email" class="form-control" id="email" name="email" ng-model="user.email"
        placeholder="Adja meg az e-mail címét" required />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Telefonszám</label>
      <input type="tel" class="form-control" id="phone" name="phone" ng-model="user.phone"
        placeholder="Telefonszám megadása" required />
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <select name="" id="zipcode" class="form-select" ng-model="user.zipcode" required>
        <option value="">Város kiválasztása</option>
        <option value="6900">Makó</option>
        <option value="6775">Kiszombor</option>
        <option value="6931">Apátfalva</option>
        <option value="6932">Magyarcsanád</option>
        <option value="6921">Maroslele</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Cím:</label>
      <input type="text" class="form-control" id="address" name="address" ng-model="user.address"
        placeholder="Adja meg a címet" required />
    </div>
    <button type="submit" class="btn btn-warning rounded-0 orderBtn w-100">
      Regisztráció
    </button>
  </form>

  <!-- Error Message Modal -->
  <div class="modal fade" id="errorMessageModal" tabindex="-1" role="dialog" aria-labelledby="errorMessageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="errorMessageModalLabel">Hiba!</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">{{errorMessage}}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Bezárás
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Success Modal -->
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="successModalLabel">Siker!</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">Köszönjük a regisztrációt!</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Bezárás
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include src="'./html/footer.html'"></div>