<div ng-include src="'./html/navigate.html'"></div>
    <div class="banner01-text pt-3">
      <h1>Foglaljon asztalt itt!</h1>
    </div>
  </div>

  <div class="container pb-5 pt-5" ng-controller="reservationController" >
    <form ng-submit="submitForm()" class="p-4 bg-light text-dark fw-bold py-5">
      <div class="form-group my-3">
        <label for="name" class="fs-4">Név:</label>
        <input type="text" class="form-control" id="name" ng-model="formData.name" required>
      </div>
      <div class="form-group">
        <label for="guest">Hány főre?</label>
        <select class="form-control" id="guest" ng-model="formData.guest" required>
          <option ng-repeat="x in [].constructor(10) track by $index" 
                  value="{{$index+1}}">
            {{$index+1}}
          </option>
        </select>
      </div>

      <div class="form-group my-3">
        <label for="email" class="fs-4">Email cím:</label>
        <input type="email" class="form-control" id="email" ng-model="formData.email" required ng-blur="validateEmail()" />
        <div class="text-danger">{{ emailError }}</div>
      </div>
      <div class="form-group mt-3">
        <label for="phone" class="fs-4">Telefonszám:</label>
        <input type="text" class="form-control" id="phone" ng-model="formData.phone" required ng-blur="validatePhone()" />
        <div class="text-danger">{{ phoneError }}</div>
      </div>
      
      <div class="d-flex justify-content-between py-2">
        <div class="form-group w-100 p-2">
          <label for="date" class="fs-4">Dátum:</label>
          <input type="date" class="form-control" id="date" ng-model="date" required min="{{next10Days()}}"
            max="{{next10Days(10)}}" ng-change="validateDate()" required />
          <p ng-show="dateForm.date.$error.min || dateForm.date.$error.max">
            Kérjük, válasszon egy időpontot a következő 10 napon belül.
          </p>
        </div>
        <div class="form-group w-100 p-2">
          <label for="time" class="fs-4">Időpont:</label>
          <select id="time" class="w-100 timePicker" ng-model="time" 
                  ng-options="t for t in timeOptions"
            required></select>
        </div>
      </div>
      <button type="submit" class="btn btn-warning rounded-0 orderBtn w-100">
        Foglalás
      </button>
    </form>
  </div>

  <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="reservationModalLabel">
            Foglalási visszaigazolás
          </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">Köszönjük a foglalást!</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Bezárás
          </button>
        </div>
      </div>
    </div>
  </div>
<div ng-include src="'./html/footer.html'"></div>