<div ng-include src="'./html/navigate.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Ízelítők</h1>
        </div>
        <div class="col-md-6">
            <h1 class="text-center">Főételek</h1>
        </div>
    </div>
</div>

  <div class="container" ng-controller="reservationController">
    <h1>Table Reservation Form</h1>
    <form ng-submit="submitForm()">
      <div class="form-group">
        <label for="name">Név:</label>
        <input type="text" class="form-control" id="name" ng-model="formData.name">
      </div>
      <div class="form-group">
        <label for="email">Email cím:</label>
        <input type="email" class="form-control" id="email" ng-model="formData.email">
      </div>
      <div class="form-group">
        <label for="phone">Telefonszám:</label>
        <input type="text" class="form-control" id="phone" ng-model="formData.phone">
      </div>
      <div class="form-group">
        <label for="date">Dátum:</label>
        <input type="date" class="form-control" id="date" ng-model="date" required
          min="{{next10Days()}}" max="{{next10Days(10)}}" ng-change="validateDate()">
        <p ng-show="dateForm.date.$error.min || dateForm.date.$error.max">
          Please select a date within the next 10 days.
        </p>
      </div>
      <div class="form-group">
        <label for="time">Időpont:</label>
        <select id="time" ng-model="time" ng-options="t for t in timeOptions" required>
        </select>
    </div>
          
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


<div ng-include src="'./html/footer.html'"></div>
