<div ng-include src="'./html/navigate.html'"></div>
<div class="mx-md-5 pt-5">
    <form ng-submit="updateUserData()" class="p-4 bg-light text-dark fw-bold py-5" data-ng-init="init()">
        <div class="form-group">
            <label for="firstName">Email cím:</label>
            <input type="email" class="form-control" id="email" ng-model="user.email" disabled />
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" ng-model="user.firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" ng-model="user.lastName" required />
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" id="phone" ng-model="user.phone" required />
        </div>
        <div class="form-group">
            <label for="zipCode">Zip Code:</label>
            <select name="" id="zipcode" class="form-select" ng-model="user.zipcode" required>
                <option value="">City Selection</option>
                <option value="6900">Makó</option>
                <option value="6775">Kiszombor</option>
                <option value="6931">Apátfalva</option>
                <option value="6932">Magyarcsanád</option>
                <option value="6921">Maroslele</option>
            </select>
        </div>
        <div class="form-group">
            <label for="address">address:</label>
            <input type="text" class="form-control" id="address" ng-model="user.address" required />
        </div>
        <div class="form-group">
            <label for="password">Jelszó:</label>
            <input type="password" class="form-control" id="password" ng-model="user.password" required />
        </div>
        <button type="submit" class="btn btn-warning rounded-0 orderBtn w-100">
            Módosítás
        </button>
    </form>
</div>

<div ng-include src="'./html/footer.html'"></div>